  body{
    font-family: Arial;
    font-size: 16px;
    color: green;
  }
  
  .container{
    width: 800px;
    margin: auto;
  }
  
  .information{
    width: 40%;
    display: inline-block;
    padding: 20px;
    outline: dashed 1px blue;
    vertical-align: top;
  }
  
  span{
    display: block;
    margin-bottom: 10px
  }